@mixin triangle ($direction: "down", $size: 20px, $color: #000) {
    /** The triangle function makes it easier to create a css triangle

        this function takes:
        a direction, size and color and returns a css triangle

        @include triangle();
        => width: 0; 
        => height: 0;
        => border-left: 20px solid transparent;
        => border-right: 20px solid transparent;
        => border-bottom: 20px solid transparent;
        => border-top: 20px solid #000;

        @include triangle(left, 5px, #fff);
        => width: 0; 
        => height: 0;
        => border-left: 5px solid transparent;
        => border-right: 5px solid #fff;
        => border-bottom: 5px solid transparent;
        => border-top: 5px solid transparent;
    */

    width: 0; 
    height: 0;
    border-left: $size solid #{setTriangleColor($direction, "left", $color)};
    border-right: $size solid #{setTriangleColor($direction, "right", $color)};
    border-bottom: $size solid #{setTriangleColor($direction, "bottom", $color)};
    border-top: $size solid #{setTriangleColor($direction, "top", $color)};
}

@function setTriangleColor($direction, $side, $color) {
    //Utility function to return the relevant colour depending on what type of arrow it is
 
    @if $direction == "left" and $side == "right" 
    or  $direction == "right" and $side == "left" 
    or $direction == "down" and $side == "top" 
    or $direction == "up" and $side == "bottom" {
        @return $color;
    } @else {
        @return "transparent";
    }
 
}