@function em($pixels, $context: 16) {
  /** The em function is used to determine the em value
      for a property when you want to start using ems on sites

      It takes the pixel value, and an optional context value,
      it returns the correct em value

      width: em(300);
      => width: 18.75em

      width: em(300, 10)
      => width: 30em;
  */

  @return #{$pixels/$context}em
}